body,
html {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 20px;
  padding: 15px 5px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

.Container .controls {
  margin: 10px 20px;
  outline: 2px solid lightgray;
  border-radius: 10px;
}

.Container .controls p {
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.Container .control-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Container .control-container p {
  font-size: 25px;
}

.Container button {
  height: 50px;
  width: 50px;
  margin: 10px 20px;
  border-radius: 5px;
}

.Container button i {
  font-size: 20px;
  font-weight: 700;
}

.Container #timer {
  grid-column: span 2;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px solid lightgray;
  border-radius: 10px;
}

.Container #timer p {
  margin: 15px 10px;
}

.Container #timer .btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Container #timer #timer-label {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.Container #timer #time-left {
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 550px) {
  .Container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
  }
}
